<nav
    #mobileNav
    class="mobile-nav"
    [class.many-items]="hasManyItems">

    <ng-container *ngIf="!isLibrarian">

        <a
            routerLink="/dashboard"
            routerLinkActive="active">
            📚
            <span>Catálogo</span>
        </a>

        <a
            routerLink="/my-books"
            routerLinkActive="active">
            📖
            <span>Mis Libros</span>
        </a>

        <a
            routerLink="/alerts"
            routerLinkActive="active">
            🔔
            <span>Alertas</span>
        </a>

        <a
            routerLink="/profile"
            routerLinkActive="active">
            👤
            <span>Perfil</span>
        </a>

    </ng-container>

    <ng-container *ngIf="isLibrarian">

        <a
            routerLink="/librarian-dashboard"
            routerLinkActive="active">
            🏠
            <span>Panel</span>
        </a>

        <a
            routerLink="/reservations"
            routerLinkActive="active">
            🎟️
            <span>Reservas</span>
        </a>

        <a
            routerLink="/active-loans"
            routerLinkActive="active">
            📖
            <span>Préstamos</span>
        </a>

        <a
            routerLink="/inventory"
            routerLinkActive="active">
            📦
            <span>Inventario</span>
        </a>

        <a
            routerLink="/returns"
            routerLinkActive="active">
            ↩️
            <span>Devoluciones</span>
        </a>

        <a
            routerLink="/waitlists"
            routerLinkActive="active">
            📋
            <span>Espera</span>
        </a>

    </ng-container>

    <a (click)="logout()">
        🚪
        <span>Salir</span>
    </a>

</nav>